@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.right-nav a {
  @apply transition-transform ease-in-out duration-200;
}
.right-nav a.active,
.right-nav a.active:hover {
  @apply text-pink-500;
}

.right-nav a:hover {
  @apply text-neutral-700;
}

.loader {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
